exportPattern("^[[:alpha:]]+")
S3method(print, TempConvert)
S3method(plot, TempConvert)
S3method(TempConvert, default)
importFrom("ggplot2","ggplot")
importFrom("ggplot2","aes")
importFrom("ggplot2","geom_bar")
importFrom("ggplot2","ylim")
importFrom("ggplot2","scale_fill_brewer")
importFrom("ggplot2","geom_text")
importFrom("ggplot2","position_dodge")
importFrom("ggplot2","theme_classic")
